.diaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1100px;
}
.diaryTitle {
  font-size: 36px;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 30px;
  min-width: 400px;
  font-family: 'Sniglet', sans-serif;
}
.diaryLine {
  background-color: #A5A6F3;
  width: 70vw;
}
.subjectBlock {
  display: flex;
  flex-direction: column;
  height: 38vh;
  border-radius: 20px;
  width: 60vw;
  background: #FFFFFF;
  margin-bottom: 5vh;
  min-width: 720px;
  min-height: 360px;
}
.subjectBlockTitle {
  background: #FED867;
  height: 5vh;
  font-family: Source Sans Pro;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 0.4vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-height: 45px;
}
.subjectList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 33vh;
  align-items: center;
  justify-content: center;
  margin-right: 2vw;
  min-height: 300px;
}
.subjectItem {
  display: flex;
  margin: 1vh;
}
.subjectTitle {
  margin-right: 0.5vw;
  padding-top: 1vh;
  font-family: Source Sans Pro;
  font-size: 0.88em;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.custom-select-container {
  display: inline-block;
  min-width: 250px;
  text-align: center;
  position: relative;
}
.selected-text {
  background-color: #A5A6F3;
  padding: 6px 20px;
  border-radius: 5px;
  height: 5vh;
  padding-top: 1.3vh;
  font-family: Source Sans Pro;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 45px;
}
.selected-text:hover {
  cursor: pointer;
}
.selected-text::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 2.2vh;
  border: 7px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.selected-text.active::after {
  top: 1.2vh;
  border-color: transparent transparent #fff transparent;
}
.select-options {
  position: absolute;
  width: 100%;
  border-collapse: separate;
  top: 5.2vh;
  z-index: 100;
  margin: 0;
  padding: 0;
  text-align: left;
  min-height: 185px;
}
.custom-select-option {
  list-style-type: none;
  padding: 6px 20px;
  min-height: 45px;
  background: #D2D3F9;
  cursor: pointer;
  border: 1px solid #A5A6F3;
  height: 5vh;
  padding-top: 1.1vh;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.divOptions:hover .custom-select-option{
  background: #FFE599;
  color: #000000;
}
.divOptions:first-child{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.divOptions:first-child .custom-select-option{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.divOptions:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.divOptions:last-child .custom-select-option {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.buttonModal {
  position: absolute;
  margin-top: -5vh;
  opacity: 0;
  min-width: 250px;
}
.modalBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2vh 2vh 2vh 2vh;
  align-items: center;
}
.modalBlock .modalPart {
  width: 43%;
  font-family: Source Sans Pro;
  font-size: 1.1em;
  margin-left: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modalBlock .modalPart .modalTitle {
  font-weight: 800;
  display: flex;
  margin: 0px;
  align-items: baseline;
}
.modalBlock .modalPart .modalTitle .modalGrade {
  font-size: 0.75em;
  font-weight: 500;
  color: #4D41AE;
  margin-top: 7px;
  margin-left: 4px;
  margin-bottom: 0px;
}
.modalInfo {
  margin: 0px;
}
.modal-content {
  border-radius: 10px;
}
