.term-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    row-gap: 10px;

}

.admin-underline{
    background-color: #A5A6F3;
    width: 100%;
}

.terms-sidebar{
    display: flex;
    align-items: center;
    flex-grow: 3;
    justify-content: center;
    flex-direction: column;
}

.students-sidebar{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    align-self: start;
    gap: 10px;
}

.center{
    display: flex;
    justify-content: center;
}

.course-block{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;


}

.course-title{
    background: #A5A6F3;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    width: 90%;
    text-align: center;
    height: 30px;
}

.term-item{
    box-sizing: border-box;
    border: 3px solid #A5A6F3;
    width: 90%;
    height: 60px;
    display: flex;
    align-items:center;
}

.studentbox{
    width: 90%;
    background: #D2D3F9;
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
}


p{padding-top: 15px;}


.pic{
    height: 6vh;
    width: 6vh;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1vw;
    margin-left: 1vw;
}


.titlestudents{
font-size: 32px;
}


.titleterms{
    font-size: 24px;
}

.nav{
    width: 90%;
    display: flex;
    border: none;
}

.nav-item{
    flex-grow: 1;
    color: #fff;
}

.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #fff;
}
.nav-link::after{
    color: #fff;
}
.active-term{
    background-color: #A5A6F3;
}

.disable-term{
  background-color:   #B3B3B3;
}

.main-item1{
    border: 3px solid #A5A6F3;
    border-radius: 5px;
    width: 90%;
    padding-left: 30px;
}

.active-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inactive-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.actbutcourse1{
    background: #A5A6F3;
    border: 3px solid #A5A6F3;
    border-radius: 0px 0px 10px 10px;
}

.inactbutcourse1{
background: #FCFCFC;
border: 3px solid #A5A6F3;
border-radius: 0px 0px 10px 10px;
}
.all-groups-act{
    width: 100%;
}

.all-groups-inact{
    width: 100%;
    display: none;
}
.coursecolapsebtn{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.act-img{
    transform: rotate(0);
}

.inact-img{
    transform: rotate(180deg);
}