.subjectInfoAdmin{
    display: flex;
    flex-direction: column;
}

.subjectsListAdmin{
    height: fit-content;
}

.search-header{
    width: 90%;
    margin-left: 40px;
    padding-right: 40px;
}

#search-box{
    font-family: Source Sans Pro;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    border: 2px solid #A5A6F3;
    margin-bottom: 1.8vh;
    height: 7vh;
    min-height: 63px;
    width: 100%;
}

#search-box::placeholder{
    text-align: left;
    font-size: 0.8em;
    padding-left: 1vw;
}

.searchSubject{
    width: 100%;
}

.editSubjectAdmin{
    justify-content: end !important;
    position: relative;
    align-items: flex-end;
    bottom: 2vh;
}

.contSubAdmin{
    border-bottom: 2px solid #A5A6F3;
    margin-left: 2.7vw;
    margin-right: 2.7vw;
}

.subjectNameAdmin {
    font-family: Source Sans Pro;
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 3vw;
    margin-bottom: 1.8vh;
}

.subjectDetailsAdmin {
    min-width: 560px;
    display: none;
    flex-direction: column;
    width: 50vw;
    border: 3px solid #A5A6F3;
    height: fit-content;
    border-radius: 10px;
    margin-top: 10vh;
    margin-left: 4vw;

    .subjectTitleAdmin {
        background: #D2D3F9;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Source Sans Pro;
        font-size: 1.7em;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        height: 5vh;
    }

    .subjectDetailAdmin {
        display: flex;
        font-family: Source Sans Pro;
        font-size: 1.1em;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        width: 16vw;
        padding-bottom: 1vh;
        padding-top: 1vh;
        img {
            width: 3vw;
            height: 3vw;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.groupNameSubjectAdmin {
    width: 10vw !important;
    
}

.groupsSubjectAdmin {
    width: 10vw !important;
    flex-wrap: wrap;
    border: 0px !important;
    margin-left: 2.7vw;
    div{
        margin-right: 1vw;
        margin-left: auto;
    }
}