.icons2{
    transform: translateY(20%) translateX(70%);
    align-self:center;


 
}
.card{
    padding-bottom: 20px;
}

::placeholder {
    text-align: center; 
 }

.login_link{
    color:#929292;
}

.loginInput{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.formLogin{
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    border-bottom-width:1px;
    border-radius:  0;
    display: flex;
    overflow: hidden;
    width: 60vw !important;
    height: 5vh;
}

.formLogin:active{
    background-color: none;
}

.formLogin::target-text{
    text-decoration: none;
    color: none;
    border: none;
    background-color: none;

}
.formLogin:focus{
    outline: none;
    box-shadow: none;
}

.loginCard{
    justify-content: flex-start !important;
}

.lineLogin{
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.facebookButton{
    height: 5vh;
    width: 12vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    border: 0px;
    border-radius: 40px;
    -webkit-box-shadow: 3px 3px 5px -1px rgba(133,133,133,1);
    -moz-box-shadow: 3px 3px 5px -1px rgba(133,133,133,1);
    box-shadow: 3px 3px 5px -1px rgba(133,133,133,1);
}

.imgFacebook{
    height: 2.5vh;
    margin-right: 0.5vw;
}