@import url('http://fonts.cdnfonts.com/css/sniglet');


.background {
    background: rgb(210,211,249);
    background: linear-gradient(-180deg, rgba(210,211,249,1) 0%, rgba(255,255,255,1) 100%);
    position: relative;
    overflow: hidden;
    min-height: 93vh;
}

.card-container{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    min-height: 70vh;
    min-width: 80%;
}

#formBlock{
    height: fit-content;
}

.form-control:active{
    background-color: none;
}

.reg-form{
    display: flex;
    flex-wrap: wrap;
}
.form-control::target-text{
    text-decoration: none;
    color: none;
    border: none;
    background-color: none;

}
.form-control:focus{
    outline: none;
    box-shadow: none;
}

.basic-addon1{
    display: none !important;
}
.basic-addon2{
    display: none;
}
.basic-addon3{
    display: none;
}
.basic-addon4{
    display: none;
}


.icons{
   align-self:center;
   margin-right: 5px;
}

.link{
   color: #F35B04;
}

.link:hover{
    color: #F35B04;
}

.form-bg{
    background-color: white;
}
.form-control{
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    border-bottom-width:1px;
    border-radius:  0;
    width: 100%;
    display: flex;
    overflow: hidden;
    height: 5vh;
}
.dropdown-reg{
    min-width: 170px;
    flex-shrink: 0 !important;
    flex-grow: 0 !important; 
    text-align: left;
    width: 100% !important;
}

Select{
    width: 100%;
}

.logo{
    width: auto;
    height: 13vh;
}


.title{
    font-size: 36px;
    color: #181AB4;
    margin-bottom: 50px;
    margin-top: 30px;
    font-family: 'Sniglet', sans-serif;
}

.btn-reg{
    margin-top: 20px;
    background-color: #181AB4;
    min-width: 100px;
}
.input-group-text{
    background-color: white;
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    border-bottom-width:1px;
    border-radius:  0;
    color: #F35B04;
    border-color: #F35B04;
    display: none;
}
.books{
    display: flex;
    justify-content: space-between;
}
.book1{
    width: 10%;
    transform: translate(-30%,-50%);

}
.book2{
    width: 10%;
    transform: translate(30%,-50%);


}

.FirstnameValidator {
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
  }

  
.PhoneValidator{
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
}

.EmailValidator{
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
}
.LastnameValidator{
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
}

.input-group-text{
    position:static;
    transform: translateX(-100%);
    height: 5vh;

}

.form-control::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: left;
}

.col-8{
    width: 15vw !important;
    flex-shrink: 0 !important;
    flex-grow: 0 !important; 
}

.regLeft{
    display: flex;
    justify-content: flex-start;
    height: 30vh;
    min-width: 330px;
    flex-wrap: wrap !important;
    align-items: center;
    display: flex;
}

.regRight{
    display: flex;
    justify-content: flex-start;
    height: 30vh;
    min-width: 330px;
    flex-wrap: wrap !important;
    align-items:center;
    display: flex;
}

/* @media screen and (max-width: 768px){
    .regLeft{
        justify-content: start;

    }
    .regRight{
        justify-content: start;

    }
} */


.input-group{
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    justify-content: center;   
}


.logoRow{
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row .justify-content-center{
    align-items: flex-start;
    
}

.col-12 .col-md-6{
    min-width: 360px;
}

.row{
    flex-wrap: nowrap !important;
}


@media screen and (max-width: 768px) {
    .book1 {
        display: none !important;
    }
    .book2 {
        display: none !important;
    }
}

.signup-btn{
    display: flex;
    justify-content: center;

}
.signup-btn1{
    background: #181AB4;
    border-radius: 10px;
    padding: 9px 48px;
    color: #fff;
    border: 0;
    margin-top: 20px;
}

@media screen and (max-width: 575px) {
    .card{
        padding-left: 0;
        padding-right: 0;
    }
}