@import url('http://fonts.cdnfonts.com/css/sniglet');



.background {
    background: rgb(210,211,249);
    background: linear-gradient(-180deg, rgba(210,211,249,1) 0%, rgba(255,255,255,1) 100%);
}

.card-container{
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    
}
.form-control{
width:auto;
}

.form-control:active{
    background-color: none;

}
.form-control::target-text{
    text-decoration: none;
    color: none;
    border: none;
    background-color: none;

}
.form-control:focus{
    outline: none;
    box-shadow: none;
}

.card{
}
.basic-addon1{
    display: none !important
}
.basic-addon2{
    display: none;
}
.basic-addon3{
    display: none;
}
.basic-addon4{
    display: none;
}
.basic-addon5{
    display: none;
}

.icons{
   align-self:center;
}

.link{
   color: #F35B04;
}

.link:hover{
    color: #F35B04;

}


.form-bg{
    background-color: white;
}
.form-control{
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    border-bottom-width:1px;
    border-radius:  0;
    display: flex;
    overflow: hidden;

}


.logo{
width: 15%;
height: auto;
margin-top: 20px;
}


.title{
    font-size: 36px;
    color: #181AB4;
    margin-bottom: 50px;
    margin-top: 30px;
    min-width: 400px;
    font-family: 'Sniglet', sans-serif;
}

.btn{
    margin-top: 20px;
    background-color: #181AB4;
    min-width: 100px;
}
.input-group-text{
    background-color: white;
    border-top: 0ch;
    border-left: 0ch;
    border-right: 0ch;
    border-bottom-width:1px;
    border-radius:  0;
    color: #F35B04;
    border-color: #F35B04;
    margin-left: 0;
}

.book1{
    width: 30%;
    height: auto;
    transform: translateY(-60%) translateX(0%);
}
.book2{
    width: 30%;
    height: auto;
    transform: translateY(-60%) translateX(230%);
    padding: 0;
}
.FirstnameValidator {
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
  }

  
.PhoneValidator{
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
}

.EmailValidator{
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
}
.LastnameValidator{
    position: relative;
    display: inline-block;
    position: absolute;
    transform: translateY(-50%);
}


.form-inline {
    width: 100%;
  }
  
  .form-group {
    width: 90%;
  }
  
  .input-group {
    width: 90% !important;
  }
  
  .form-control {
    width: 100%;
  }
  
  span.input-group-addon {
    width: 50px !important;
  }